# Исключить виртуальное окружение, если оно находится в корне проекта
.venv/
.coverage

# Исключить каталоги __pycache__, которые создаются компилятором Python
__pycache__/

# Исключить файлы байт-кода, созданные Python
*.pyc
*.pyo
*.pyd

# Исключить файлы кода Cython (если вы используете Cython)
*.c
*.cpp



